label{
font-style:oblique ;
color: hsl(187, 24%, 22%);
font-size: 16px;
}

span{
    color: green;
}
.mobile{
    display: none;
}
@media (min-width:320px) {
    .mobile{
        display: block;
    }
}